CUDAPATH = /usr/local/cuda-7.0
CUDAINCPATH = $(CUDAPATH)/include /usr/local/cuda-7.0/targets/x86_64-linux/include
CUDALIBPATH = $(CUDAPATH)/lib64 /usr/local/cuda-7.0/targets/x86_64-linux/lib
PYTHONPATH = /usr

